<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Centrifuge.GameSupport.Distance" version="1.0.21" targetFramework="net35" />
  <package id="Centrifuge.Mod.SDK" version="2.2.0" targetFramework="net35" />
  <package id="Json.Net.Unity3D" version="9.0.1" targetFramework="net35" />
  <package id="Lib.Harmony" version="1.2.0.1" targetFramework="net35" />
  <package id="LitJson" version="0.15.0" targetFramework="net35" />
  <package id="ModuleInit.Fody" version="2.1.0" targetFramework="net35" />
</packages>