<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Centrifuge.Mod.SDK" version="3.2.0" targetFramework="net35" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net35" />
  <package id="Fody" version="6.5.1" targetFramework="net35" developmentDependency="true" />
  <package id="HarmonyX" version="2.4.2" targetFramework="net35" />
  <package id="Json.Net.Unity3D" version="9.0.1" targetFramework="net35" />
  <package id="JsonSubTypes" version="1.8.0" targetFramework="net35" />
  <package id="Mono.Cecil" version="0.10.4" targetFramework="net35" />
  <package id="MonoMod.RuntimeDetour" version="21.4.21.3" targetFramework="net35" />
  <package id="MonoMod.Utils" version="21.4.21.3" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net35" />
  <package id="PropertyChanged.Fody" version="3.4.0" targetFramework="net35" />
  <package id="SharpCompress" version="0.29.0" targetFramework="net35" />
</packages>